@import "./mixins.scss";
@import "./variables.scss";

// GAME COMPONENT

.game {
  border: 1px solid black;
  @include flex(column);
  margin: 0 auto;
  width: 80%;
  min-width: 768px;
  max-width: 1024px;
  padding: 10px;
  height: 100%;
}

.opponent--row {
  border: 1px dotted black;
  @include flex(row);
  width: 100%;
  height: 15%;
}

.opponenthand--container {
  border: 1px dotted yellow;
  height: 100%;
  width: 80%;
}

.opponentinfo--container {
  border: 1px dotted purple;
  height: 100%;
  width: 20%;
}

.commonarea--container {
  border: 1px solid green;
  width: 100%;
  height: 30%;
  border-radius: 25px;
  background: lighten($primary1, 10%);
  padding: 15px 10px;
}

.tableau--container {
  border: 1px solid green;
  width: 100%;
  height: 30%;
  border-radius: 25px;
  background: lighten($primary1, 10%);
  padding: 15px 10px;
}

.user--row {
  border: 1px dotted black;
  @include flex(row);
  width: 100%;
  height: 15%;
}

.userhand--container {
  border: 1px dotted yellow;
  height: 100%;
  width: 80%;
}

.userinfo--container {
  border: 1px dotted purple;
  height: 100%;
  width: 20%;
}

// COMMON AREA COMPONENT
.commonarea {
  width: 100%;
  height: 100%;
  @include flex(row);
}

.cardtableau--container {
  @include flex(column)
}

// TABLEAU COMPONENT
.player-tableau {
  width: 100%;
  height: 100%;
  @include flex(row);
}

// CARD DISPLAYS
.display--card {
  height: 200px;
  width: 100px;
  border-radius: 20px;
  padding: 5px;
}

.discard--red {
  border: 3px solid $red1;
  background: $red3;
}

.discard--green {
  border: 3px solid $green1;
  background: $green3;
}
.discard--white {
  border: 3px solid $white1;
  background: $white3;
}
.discard--blue {
  border: 3px solid $blue1;
  background: $blue3;
}
.discard--yellow {
  border: 3px solid $yellow1;
  background: $yellow3;
}
