@import "./mixins.scss";
@import "./variables.scss";

// GAME COMPONENT

.game {
  border: 1px solid black;
  @include flex(column);
  margin: 0 auto;
  width: 80%;
  min-width: 768px;
  max-width: 1024px;
  padding: 10px;
  height: 100%;
}

.opponent--row {
  border: 1px dotted black;
  @include flex(row);
  width: 100%;
  height: 10%;
}

.opponenthand--container {
  border: 1px dotted yellow;
  height: 100%;
  width: 80%;
}

.opponentinfo--container {
  border: 1px dotted purple;
  height: 100%;
  width: 20%;
}

.commonarea--container {
  border: 1px solid green;
  width: calc(100% - 80px);
  height: 30%;
  border-radius: 25px;
  background: lighten($primary1, 10%);
  padding: 15px 10px;
}

.tableau--container {
  border: 1px solid green;
  width: calc(100% - 80px);
  height: 30%;
  border-radius: 25px;
  background: lighten($primary1, 10%);
  padding: 15px 10px;
}

.user--row {
  border: 1px dotted black;
  @include flex(row);
  width: 100%;
  height: 15%;
}

.userhand--container {
  border: 1px dotted yellow;
  height: 100%;
  width: 80%;
}

.userinfo--container {
  border: 1px dotted purple;
  height: 100%;
  width: 20%;
}

// COMMON AREA COMPONENT

.commonarea {
  width: 100%;
  height: 100%;
  @include flex(row);
}

// DISCARD COMPONENT
.discard--red {
  
}
