// colors
$primary1: #FAC881;

$red1: #D8422E;
$red2: #5C2D22;
$red3: #D8871B;

$green1: #9FA01D;
$green2: #74531B;
$green3: #F8E76D;

$white1: #E8E0E0;
$white2: #392922;
$white3: #A19992;

$blue1: #305288;
$blue2: #505724;
$blue3: #8489B2;

$yellow1: #ED9628;
$yellow2: #794119;
$yellow3: #FEF7B3;
