.game {
  border: 1px solid black;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  min-width: 768px;
  max-width: 1024px;
  padding: 10px;
  height: 100%; }

.opponent--row {
  border: 1px dotted black;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%; }

.opponenthand--container {
  border: 1px dotted yellow;
  height: 100%;
  width: 80%; }

.opponentinfo--container {
  border: 1px dotted purple;
  height: 100%;
  width: 20%; }

.commonarea--container {
  border: 1px solid green;
  width: 100%;
  height: 30%;
  border-radius: 25px;
  background: #fcddb2;
  padding: 15px 10px; }

.tableau--container {
  border: 1px solid green;
  width: 100%;
  height: 30%;
  border-radius: 25px;
  background: #fcddb2;
  padding: 15px 10px; }

.user--row {
  border: 1px dotted black;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%; }

.userhand--container {
  border: 1px dotted yellow;
  height: 100%;
  width: 80%; }

.userinfo--container {
  border: 1px dotted purple;
  height: 100%;
  width: 20%; }

.commonarea {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.cardtableau--container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.player-tableau {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.display--card {
  height: 200px;
  width: 100px;
  border-radius: 20px;
  padding: 5px; }

.discard--red {
  border: 3px solid #D8422E;
  background: #D8871B; }

.discard--green {
  border: 3px solid #9FA01D;
  background: #F8E76D; }

.discard--white {
  border: 3px solid #E8E0E0;
  background: #A19992; }

.discard--blue {
  border: 3px solid #305288;
  background: #8489B2; }

.discard--yellow {
  border: 3px solid #ED9628;
  background: #FEF7B3; }
